[user]
	name = Shinya Miyazaki
	email = sssx5559@gmail.com
[alias]
	graph = log --graph --date-order --all --pretty=format:'%h%Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
	lol = log --graph --decorate --pretty=oneline --all --abbrev-commit
[color]
	ui = auto
[core]
	excludesfile = /Users/miyazaki/.gitignore_global
[ghq]
	root = /Users/shinya/ghq/src
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/miyazaki/.stCommitMsg
[merge]
	tool = opendiff
[gui]
[gui]
	recentrepo = /Users/miyazaki/git_project/math.github2
